.App {
  text-align: center;
  /* background-color: #282c34; */
  background: black;
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: space-around;
}

.bar {
  width: 6em;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
}

.tick {
  width: 4em;
  height: 10px;
  background: red;
  opacity: 0.2;
  transition: opacity 0.16s;
}

.active {
  opacity: 1;
}

.low {
  background: blue;
  box-shadow: blue 5px 5px 40px, blue -5px -5px 40px;
}

.mid {
  background: green;
  box-shadow: green 5px 5px 40px, green -5px -5px 40px;
}

.high {
  background: red;
  box-shadow: red 5px 5px 40px, red -5px -5px 40px;
}
